<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="V" value="3.0.0.0" />
    <add key="AutoScroll" value="True" />
    <add key="AutoClear" value="True" />
    <add key="AutoClearLines" value="6000" />
    <add key="Accent" value="Steel" />
    <add key="Tmp" value="tmp" />
    <add key="Timestamp" value="True" />
    <add key="TCPHost" value="" />
    <add key="TCPPort" value="0" />
    <add key="MaxLines" value="8000" />
  </appSettings>
</configuration>